.parallax {
  background-image: url("../resources/aboutBackground.jpg");
}

@media (max-width: 992px) {
  .container {
    margin: 0 auto;
    width: 100%;
  }
}

#w3,
#secPilares {
  margin: 5vw 0;
}

.titleAbout {
  text-align: right;
  width: 100%;
  margin-left: 0;
}
.titleAbout span {
  font-size: 3em;
}

@media (max-width: 576px) {
  .titleAbout {
    font-size: 1.5em;
  }
  .titleAbout span {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }
}

.btnAbout {
  width: 50%;
}

.cardPilares {
  padding: 16px 0;
}

.cardPilaresTitle {
  display: flex;
  align-items: center;
}

.cardPilaresTitle img {
  width: 5em;
}
.cardPilaresText {
  margin: auto 0;
}

.cardTeam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  padding: 16px;
  border: 5px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  height: 400px;
  border-radius: 4px;
}

.cardTeam img {
  width: 253px;
  height: 253px;
  border-radius: 50%;
  margin-bottom: 16px;
  filter: grayscale(100%);
  transition: filter 2s;
}

.cardTeam:hover img {
  filter: grayscale(0%);
}
